h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

p.stars {
  text-align: center;
}

p.subtitle {
  text-align: center;
  font-size: small;
}

hr.break {
  width: 25%;
  text-align: center;
}
